body{
    /* background: url(https://res.cloudinary.com/doyd0ewgk/image/upload/v1537319325/Islands-of-clouds.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}
#name, #photo{
    width: 400px;
}

.jumbotron{
    
    background:url(images/china.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.welcome{
    /* margin:30px auto; */
    height:auto; 
    /* padding-bottom:50px; */
    background:rgba(0, 0, 0, 0.7);
    color:white;
    font-family: 'Roboto Condensed', sans-serif;  
    /* border-radius:20px; */
    
    /* font-size: 45px; */

}


p{
    font-size:50px;
    text-align: center;
    padding: 40px 0px;
}


.friendFinder{
    font-size:45px;
}

/* #dropdownMenu2{
    color:yellow;
} */
/* @-webkit-keyframes rollIn_2 {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes rollIn_2 {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .rollIn {
    -webkit-animation-name: rollIn_2;
    animation-name: rollIn_2;
  } */

/* .container{
    margin:30px auto;
    height:auto; 
    padding-bottom:50px;
    background:rgba(47, 63, 88);
    color:rgb(228, 228, 228);
    font-family: 'Roboto Condensed', sans-serif;  
    border-radius:20px;
} */


/* .survey{
    top:40px;
    
    background:orange;
} */




/*h1, h4, h5{
    text-indent:35px;
    font-size:20px;
}
#compat{
    margin-bottom:50px;
}
 #survey{
    cursor:pointer;
    color:white;
    font-size:25px;
    margin-left:30px;
    padding:5px;
    border-radius: 15px;
} 
#survey:hover{
    color:orange;
}

select, .form-control, #sbmtBtn{
    margin-left:6vw;
    font-size: 8px;
    border-radius:5px;
    border: 2px solid #345;
    cursor:pointer;

    
}
#sbmtBtn{
margin-top: 4vw;
margin-bottom: 4vw;
border:none;
background:rgb(54, 42, 56);
color:white;
border-radius:10px;
padding:10px;
font-size: 16px;

}
.link{
color:white;
margin-top:30px;
margin:30px;  
}
.link:hover{
    color:orange;
}

#matchName, #title{
    color:white;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

.modal-content{
    justify-content: center;
} */


