.container{
    margin:0px 100px;
    height:auto;
    background:rgb(209, 209, 209);
    color:rgb(82, 79, 79);
    font-family: 'Roboto Condensed', sans-serif;  
}
p{
    font-size:60px;
    margin:20px 40px 10px 33px;
    padding-top:20px;
}
h1, h4, h5{
    text-indent:30px;
}
#compat{
    margin-bottom:60px;
}
#survey{
    cursor:pointer;
    background:rgb(65, 99, 133);
    width:150px;
    color:rgb(184, 184, 184);
    font-size:20px;
    margin-left:32px;
    padding:20px;
    text-align:center;
    border-radius: 15px;
}
#survey:hover{
    background:#234;
    color:white;
}
.radioBtns{
    
}