body{
    background: url(https://res.cloudinary.com/doyd0ewgk/image/upload/v1537319325/Islands-of-clouds.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}

.container{
    margin:30px auto;
    height:auto; 
    padding-bottom:50px;
    background:rgb(0, 0, 0, 0.7);
    color:rgb(228, 228, 228);
    font-family: 'Roboto Condensed', sans-serif;  
}
p{
    font-size: 4rem;
    margin:20px 40px 10px 0px;
    padding:40px;
    
}
i{
    margin-right: 20px;
    margin-top:20px;
}
h1, h4, h5{
    text-indent:35px;
    font-size:20px;
}
#compat{
    margin-bottom:50px;
}
 #survey{
    cursor:pointer;
    color:white;
    font-size:25px;
    margin-left:30px;
    padding:5px;
    border-radius: 15px;
} 
#survey:hover{
    color:orange;
}

select, .form-control, #sbmtBtn{
    margin-left:6vw;
    font-size: 8px;
    border-radius:5px;
    border: 2px solid #345;
    cursor:pointer;

    
}
#sbmtBtn{
margin-top: 4vw;
margin-bottom: 4vw;
border:none;
background:rgb(54, 42, 56);
color:white;
border-radius:10px;
padding:10px;
font-size: 16px;

}
.link{
color:white;
margin-top:30px;
margin:30px;  
}
.link:hover{
    color:orange;
}

#matchName, #title{
    color:white;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

.modal-content{
    margin:auto 0;
}


